/* Universal Styles */
html {
    font-size: 18px;
    line-height: 1.15;
}

body {
    font-family: Helvetica;
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}


/* Header Section */
header {
    background-color: black;
    color: white;
}

#logo {
    
    line-height: 1.15;
    display: flex;
    align-items: center;
    padding: 0.66rem 0;
}

header img {
    height: 1.5rem;
    width: auto;
    padding: 0 1rem 0 0.5rem;
}

header span {
    text-transform: uppercase;
    font-size: 1rem;
}


/* Banner Section */
.banner {
    height: 25rem;
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#banner-content {
    background-color: black;
    color: white;
    text-transform: uppercase;
    width: 20rem;
    height: auto;
    padding: 2rem 3rem;
    position: relative;
    top: 9rem;
}

.banner h3 {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.25rem;
}

.banner h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}


/* Navigation Section */
nav {
    background-color: firebrick;
    color: white;
    padding: 0.75rem;
}

#nav-list {
    display: flex;
    justify-content: space-between;
}